.CodeMirror-fullscreen {
  position: fixed !important;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto;
  z-index: 2000;
}

.FullScreenLink {
	display: inline-block;
	text-align: right;
	width: 100%;
}